button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 8px 14px;
  border-radius: 8px;
  border: 2px solid white;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
}
