<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<a *ngIf="this.paginationInfo">{{this.paginationInfo?.links?.current}}</a><br>
<a *ngIf="this.paginationInfo">{{this.paginationInfo?.links?.previous}}</a><br>
<a *ngIf="this.paginationInfo">{{this.paginationInfo?.links?.next}}</a><br>
<a *ngIf="this.paginationInfo">{{this.paginationInfo?.pages}}</a><br>

<div *ngIf="paginationInfo != null">
  <button id ="first" (click)="loadFirstPage()" *ngIf="pageNum != 1" [title]='"First page"'>
    <i class="fa fa-step-backward" aria-hidden="true"></i>
  </button>
  <button (click)="loadPreviousPage()" *ngIf="pageNum != 1" [title]='"Previous page"'>
    <i id="previous" class="fa fa-caret-left" aria-hidden="true"></i>
  </button>
  <button (click)="loadNextPage()" *ngIf="pageNum != paginationInfo.pages" [title]='"Next page"'>
    <i id="next" class="fa fa-caret-right" aria-hidden="true"></i>
  </button>
  <button (click)="loadLastPage()" *ngIf="pageNum != paginationInfo.pages" [title]='"Last page"'>
    <i id="last" class="fa fa-step-forward" aria-hidden="true"></i>
  </button>
</div>
