<a *ngIf="this.paginationInfo">{{this.paginationInfo | json}}</a><br>

<div>
  <button id ="first" (click)="loadFirstPage()" [title]='"First page"' [disabled]="'disabled'">
    <i class="fa fa-step-backward" aria-hidden="true"></i>
  </button>
  <button id="previous" (click)="loadPreviousPage()" [title]='"Previous page"' [disabled]="'disabled'">
    <i class="fa fa-caret-left" aria-hidden="true"></i>
  </button>
  <button id="next" (click)="loadNextPage()" [title]='"Next page"' [disabled]="'disabled'">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
  </button>
  <button id="last" (click)="loadLastPage()" [title]='"Last page"' [disabled]="'disabled'">
    <i class="fa fa-step-forward" aria-hidden="true"></i>
  </button>
</div>
