
#title {
  height: 2rem;
  width: 20rem;
}

#body {
  height: 3rem;
  width: 20rem;
}

#postForm {
  text-align: right;
}

#posts {
  background: rgba(255, 255, 255, 0.4);
}

textarea {
  background-color: gainsboro;
  border-radius: 0.3rem;
  font-family: "Times New Roman", serif;
  resize: none;
}


button {
  font-size: 1rem;
}


