h3, form {
  text-align: center
}

div#postForm{
  text-align: right;
}

.label{
  text-align: right;
  margin-right: 43%;
}

input {
  background-color: gainsboro;
  border-radius: 5px;
  font-family: "Times New Roman", serif;
}

label {
  padding: 0 12px 12px 12px;
  display: inline-block;
}

button {
  font-size: 15px;
}


