<div id="postForm">
  <h3>Create new post</h3>
  <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
    <div class="label">
      <label>
        Id
      </label>
      <input id="id" type="number">
    </div>

    <div class="label">
      <label>
        User_Id
      </label>
      <input id="user_id" type="number">
    </div>

    <div class="label">
      <label>
        Title
      </label>
      <input id="title" type="text">
    </div>
    <div class="label">
      <label>
        Body
      </label>
      <input id="body" type="text">
    </div>

    <button class="button" type="submit">Submit</button>
  </form>
</div>

<h3>All posts</h3>

<div id="posts">
  <div *ngFor="let item of posts">
    <h5>User ID {{ item.user_id }}:</h5>
    <i class="title">"{{item.title}}"</i><br>
    <a class="body">{{item.body}}</a>
  </div>
</div>




